@model PhaseProject4.Models.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.crust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.crust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; Made by DS Rahul</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
    </ul>
</footer>